* {
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

/* ========================= header start */
header {
    background: url(../images/bg_img.jpg);
    padding-bottom: 152px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

header nav .logo {
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    padding: 8px 18px;
    background: #4e9f0d;
    text-align: center;
    border: 3px solid #62be19;
    border-radius: 5px;
    box-shadow: inset 0 0 5px #48920c;
    line-height: 17px;
}

header nav .menu {
    display: flex;
    justify-content: flex-end;
}

header nav .menu .list .link {
    display: block;
    padding: 37px 6px 29px 10px;
    color: #69cf17;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: .5s;
}

header nav .menu .list .link span {
    color: #69cf17;
    font-size: 20px;
    font-weight: 300;
    display: inline-block;
    height: 24px;
    width: 24px;
    background: #ffffff;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6px;
}

header nav .menu .list .link:hover,
header nav .menu .list .link.active {
    background: rgba(79, 155, 17, .75);
}

header h1 {
    color: #69cf17;
    font-weight: 900;
    font-size: 72px;
    text-transform: uppercase;
    margin-top: 150px;
    line-height: 66px;
    margin-bottom: 19px;
}

header .big_span {
    color: #69cf17;
    font-weight: 400;
    font-size: 36px;
    line-height: 25px;
    display: block;
    margin-bottom: 28px;
}

header .info {
    color: #dedede;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 75px;
}

header .price {
    padding: 28px 90px;
    background: rgba(150, 207, 23, .75);
    border: none;
    color: #fff;
    font-size: 60px;
    font-weight: 100;
    line-height: 45px;
}


/* ===================== main start */
main {
    background: #060002;
    padding: 50px 0;
}

main .food ul {
    display: flex;
    padding-left: 0;
    margin-bottom: 69px;
}

main .food ul li {
    margin-right: 48px;
}

main .food ul li a {
    text-decoration: none;
    color: #7a7a7a;
    font-size: 20px;
    font-weight: 700;
    transition: .5s;
}

main .food ul li a:hover,
main .food ul li a.active {
    color: #69cf17;
}

main .burgers .burger .burger_top {
    position: relative;
    overflow: hidden;
}

main .burgers .burger .burger_top .burger_img .burger_price {
    display: block;
    padding: 20px 0;
    background: rgba(105, 207, 23, .75);
    color: #dedede;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    width: 187px;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
}

main .burgers .burger .burger_top .burger_img img {
    width: 100%;
    height: 100%;
}

main .burgers .burger .burger_top .burger_hover {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(105, 207, 23, .9);
    top: 0;
    transform: scale(0);
    transition: .5s;
}

main .burgers .burger .burger_top .burger_hover a {
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    text-decoration: none;
}

main .burgers .burger .burger_top:hover .burger_hover {
    transform: scale(1);
}

main .burgers .burger .burger_bottom {
    margin-top: 30px;
    margin-bottom: 50px;
}

main .burgers .burger .burger_bottom h2 {
    color: #69cf17;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

main .burgers .burger .burger_bottom p {
    color: #dedede;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 0;
}

/* ==================== unique start */
.unique {
    background: url(../images/section_bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 50px 0 70px;
}

.unique h2 {
    text-align: center;
    color: #69cf17;
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 48px;
}

.unique h2::after {
    content: "";
    display: block;
    width: 200px;
    height: 1px;
    background: #69cf17;
    margin: auto;
    margin-top: 19px;
}

.unique p {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
}

/* ========================= map start */
.map {
    padding-top: 48px;
    background: #fff;
}

.map h2 {
    color: #69cf17;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 56px;
}

.map .google {
    min-height: 500px;
}

.map .google iframe{
    width: 100%;
    height: 500px;
}
/* ====================================footer start===================== */
footer{
    background: #060002;
    padding-top: 40px;
   

}
footer .logo{
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    padding: 8px 18px;
    background: #4e9f0d;
    text-align: center;
    border: 3px solid #62be19;
    border-radius: 5px;
    box-shadow: inset 0 0 5px #48920c;
    line-height: 17px;
    margin-bottom: 50px;
}
footer .tel{
    color: #4e9f0d;
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
}
footer nav .footer_menu{
    display: flex;
    margin-bottom: 40px;

}
footer nav  ul li a{
    text-decoration: none;
    margin-left: 52px;
    color: #fff;
    font-weight: 100;
    font-size: 18px;

}
footer p{
    color: white;
    font-weight: 100;
    font-size: 16px;
    margin-bottom: 50px;

}